.polotno-side-tabs-container {
	background-color: #1fa0db;
	color: white;
	border-color: white;
	border-style: solid;
	border-width: 0.1rem;
}

.polotno-page-container {
	background-color: #dae4e8;
}

.polotno-workspace-inner {
	background-color: #dae4e8;
	color: #1fa0db;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
}

.polotno-workspace-inner button {
	padding: 1rem;
	color: #1fa0db;
	font-size: 1.5rem;
	font-weight: 600;
	border-style: none;
	border-radius: 0.3rem;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.go4278817278 .bp3-button-text, .go3436411437 .bp3-button-text, .go298234575 {
	color: #737270;
	font-size: 1.5rem;
	font-weight: 600;
}

.go4278817278 svg, .go3436411437 svg  {
	color: #737270;
}
